body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif; */
    font-family: "MonoLisa";
    background-color: antiquewhite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.favList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.favList li{
    list-style: none;
}

