body {
  margin: 0;
  min-height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Georgia, "Times New Roman", Times, serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.App{
  background-color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Title CSS */

/* navbar css */
.navBar {
  display: flex;
  justify-content: space-around;
  background-color: #212329;
  padding: 1rem;
}

/* .cfs-header {
  padding: 10px 0px;
  height: 50%;
  width: 100%;
} */

.slider {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.bottomHome {
  margin: 0px 100px 70px 100px;
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.halfHome-1 {
  width: 50%;
  height: 100%;
  background-image: url("https://pbs.twimg.com/media/DYvzdhnX0AUkpbA.jpg");
  background-size: 100%;
  margin: 30px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #7795f8;
  border-radius: 3px;
}


.halfHome-2 {
  width: 50%;
  height: 100%;
  background-image: url("https://e0.365dm.com/21/04/1600x900/skysports-premier-league-top-six_5347528.jpg?20210418193904");
  background-size: 100%;
  margin: 30px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #7795f8;
  border-radius: 3px;
}

.bottomHome-2 {
  margin: 0px 100px 100px 100px;
  display: flex;
  justify-content: space-around;
  height: 300px;
}
.halfHome-3 {
  width: 50%;
  height: 100%;
  background-image: url("https://1.bp.blogspot.com/-T_5oT_bHUjs/YN-Su7r7CiI/AAAAAAACsqI/hseGs1OkrSUIh7SGAiFkLFTy3NU7axlFwCLcBGAsYHQ/s1000/21-22-la-liga-kits.jpg");
  background-size: 100%;
  margin: 0px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #7795f8;
  border-radius: 3px;
}
.halfHome-4 {
  width: 50%;
  height: 100%;
  background-image: url("https://pbs.twimg.com/media/DLTSoGxXoAAoEOr.jpg");
  background-size: 100%;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #7795f8;
  border-radius: 3px;
}

/* Css for Shirts Pages */
.shirtsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 30px;
}
.shirtList {
  list-style: none;
  background-color: white;
  border: lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shirtImages {
  width: 200px;
}

.pagination {
  justify-content: center;
}

/*Single Shirt CSS */

.singleShirtContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 150px;
}
.singleShirtFlex {
  display: flex;
  padding: 0 4% 0 0;
}

.singleDescription {
  border: 2px solid black;
  border-radius: 5px;
  background-color: azure;
}

.singleDescription ul li {
  list-style: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;

  /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green,
    0 0 40px green, 0 0 55px green, 0 0 70px green; */
}

/* before Youtube CSS */
.container-home {
  color: black;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  width: 100%;
  display: block;
}

.flip {
  height: 50px;
  overflow: hidden;
}

.flip > div > div {
  color: #fff;
  padding: 0px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  background: #42c58a;
}
.flip div:first-child div {
  background: #4ec7f3;
}
.flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

p {
  position: fixed;
  width: 100%;
  bottom: 30px;
  font-size: 12px;
  color: #999;
  margin-top: 200px;
}

/* CSS for YouTube */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  text-align: center;
  position: absolute;
}

.singleShirtFlex {
  display: flex;
  flex-direction: column;
}
/* CSS for home latest arrivals */
.shirtsLatest {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 30px 50px 30px;
}
/* single shirt page CSS */

button {
  background-color: white;
  border: 2px solid #3671ca;
  border-radius: 3px;
  color: black;
  height: inherit;
  width: inherit;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
  box-shadow: 2px 2px rgba(77, 77, 77, 0.5);
}

button:hover {
  background-color: dodgerblue;
  color: white;
}
button:active {
  border: 10px dotted;
}
