body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "MonoLisa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar css */
.navBar {
  display: flex;
  justify-content: space-around;
  background-color: lightgrey;
  padding: 2rem;
}
.header-image-div {
}
.cfs-header {
  padding: 10px 0px;
  height: 50%;
  width: 100%;
}

.bottomHome {
  margin: 100px 100px;
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.halfHome-1 {
  width: 50%;
  height: 100%;
  background-image: url("https://pbs.twimg.com/media/DYvzdhnX0AUkpbA.jpg");
  background-size: 100%;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    transition: .4s ease-in-out; */
}
.bun-h1 {
  text-decoration: none;
}
/* .halfHome-1:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(http://maximumwallhd.com/wp-content/uploads/2015/06/fonds-ecran-plage-palmier-12-660x330.jpg);
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  transition: .4s ease-in-out;
} */
/* .halfHome-1:hover:before {
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  transition: .4s ease-in-out;
}
.halfHome-1:hover{
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  transition: .4s ease-in-out;
}
.halfHome-1 > h1 {
  display: none;
}
.halfHome-1:hover > h1 {
  position: absolute;
  top: 40%;
  display: block;
  color: red;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  text-align: center;
} */

.halfHome-2 {
  width: 50%;
  height: 100%;
  background-image: url("https://e0.365dm.com/21/04/1600x900/skysports-premier-league-top-six_5347528.jpg?20210418193904");
  background-size: 100%;
  margin: 0px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prem-image-home {
  width: 100%;
}

/* Css for Shirts Pages */
.shirtsPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 30px;
}
.shirtList {
  list-style: none;
  border: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shirtImages {
  width: 200px;
}
