body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar css */
.navBar {
  display: flex; 
  justify-content: space-around;
  background-color: lightgrey;
  padding: 2rem;
}
.header-image-div{
  
}
.cfs-header{
  padding: 10px 0px;
  height: 50%;
  width:100%;
}
